name: MLOps CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    # 1. Kodları çek
    - name: Checkout Code
      uses: actions/checkout@v3

    # 2. Python Kurulumu
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # 3. Bağımlılıkları Yükle
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # 4. Linting (Kod Kalitesi) [cite: 14]
    - name: Lint with Pylint
      run: |
        # Hata varsa build fail olur
        pylint app/ --fail-under=8.0

    # 5. Unit Tests (Part 1) [cite: 11]
    - name: Run Unit Tests
      run: |
        pytest tests/test_unit.py

    # 6. Component Tests (Part 2) 
    - name: Run Component Tests
      run: |
        pytest tests/test_component.py

    # 7. Build Docker Image (Part 2) 
    - name: Build Docker Image
      run: |
        docker build -t mlops-service .

    # 8. Run Container & Smoke Test (Part 2) 
    - name: Run Container & Execute Smoke Test
      run: |
        # Container'ı arka planda başlat
        docker run -d -p 8000:8000 --name mlops-container mlops-service
        
        # Servisin ayağa kalkmasını bekle 
        sleep 10
        
        # Smoke Test scriptini çalıştır
        python smoke_test.py
        
        # Temizlik
        docker stop mlops-container
